*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

.container{
    margin: auto;
}

header{
    text-align: center;
    margin-top: 100px;
    font-size: 24px;
    color: rgb(203, 0, 0);
}

.aggiungi-task{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.aggiungi-task input{
    border-radius: 8px;
    padding: 0 8px;
    width: 400px;
    height: 30px;
}

.aggiungi-task button{
    margin-left: 10px;
    width: 100px;
    border-radius: 8px;
}

.task-container{
    display: flex;
    justify-content: center;
   
    
}

.task-container ul{
    width: 600px;
    margin: 40px;
    background-color: #e9e9ed;
    border-radius: 12px;
}

.task{
    width: 80%;
    margin: auto;
    padding: 5px 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    list-style-type: none;
    border-bottom: 1px solid rgb(200, 200, 200);
    cursor: pointer;
}


.task .fa-x{
    float: right;
    cursor: pointer;
}

.sbarrato{
    text-decoration: line-through;
}

